__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.venv/
env/
ENV/
*.sqlite3

*.log
local_settings.py
db.sqlite3
media/

*.dump
*.sql

.vscode/

*.log

celerybeat-schedule
celerybeat.pid

.pytest_cache/

htmlcov/
.coverage

.idea/
*.iml

.DS_Store

*.pem
*.key

data
